nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  border: 10px rgb(102, 0, 128) solid;
  visibility: hidden;
  background-color: var(--primary);
}

.nav-links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  /* border: 10px solid rgb(255, 96, 157); */
}

.nav-active {
  visibility: visible;
  opacity: 0.9;
}

.nav-links li {
  /* border: 10px solid salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  min-width: 300px;
  height: 10vh;
}

.nav-links li {
  text-decoration: none;
  text-transform: uppercase;
  color: #757575;
  font-weight: 700;
  font-size: 40px;
  font-family: "Indie Flower", cursive;
  border-radius: 50%;
}

.nav-links li:hover {
  cursor: pointer;
  background-color: #757575;
  color: white;
}
