@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import "animations.css";
@import "paw.css";
@import "burger.css";
@import "nav.css";
@import "polygons.css";

:root {
  --primary: #f1f3f6;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.scroll-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
body {
  background-color: var(--primary);
}

header {
  position: sticky;
  z-index: 999;
  top: 0;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  padding: 0px 50px;
}

.logo {
  left: 15vw;
  top: 4vh;
  cursor: pointer;
  width: 50px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1440px;
  margin: auto;
  text-align: center;
}

#home {
  position: relative;
  display: grid;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    "ludoBox lunaBox"
    "homeTitle homeTitle"
    ". ."
    ". ."
    ". ."
    ". .";
  top: -14vh;
}

#home h1 {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards, moveUp 2s forwards;
}

#home .homeTitle {
  grid-area: homeTitle;
}

#home .ludoBox {
  grid-area: ludoBox;
  animation: 2s fadeIn ease-in forwards, 2s moveRight forwards;
}

#home .lunaBox {
  grid-area: lunaBox;
  animation: 2s fadeIn ease-in forwards, 2s moveLeft forwards;
}

#home .ludoCoverImg:hover {
  animation: upDown 0.5s ease 2;
}

#home .lunaCoverImg:hover {
  transform-origin: 210px 220px;
  animation: rotate360 2s;
}

h1 {
  font-family: "Major Mono Display";
  letter-spacing: 20px;
  text-indent: 20px;
  font-size: 5rem;
  font-weight: 100;
  color: #575757;
}

#story {
}
#stats {
}
#timeline {
}
#about {
}
